{% extends "templates/web.html" %}

{% block page_content %}
    <h1>{{ title }}</h1>
    <h2>Color: {{color}}</h2>

    {% if vehicle_image %}
        <p> Vehicle Image</p>
        <p> creating a new branch ah</p>
        <img src="{{vehicle_image}}"/>
        <p>wow wht a beautiful car</p>
        <p> WOOOOOOOOOWWWWW</p>
    {% else %}
        <span>No Image Available</span>
    {% endif %}

    <a class="btn btn-info" href="/book-a-ride/new?vehicle= {{title}}"> Book  Ride</a>

{% endblock %}

<!-- this is a sample default web page template -->